
.white-background {
    background-color: white !important;
}

.mt-5 {
    margin-top: 5px;
}

.border {
    border: solid 1px #DDE1E6;
    border-radius: 5px;
    padding: 5px;
    height: 355px;
    margin-top: 20px;
}

.customCss {
    display: flex;
  justify-content: space-between;
  border: 1px solid #DDE1E6;
  margin-top: 20px;
  border-radius: 5px;
  height: 355px;
  align-items: center;
}

.tableChart {
    width: 55%;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-input-affix-wrapper >input.ant-input {
    background: #F2F4F8;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: inherit;
    border-color: inherit;
}

button:focus,
button:focus-visible {
  outline: none;
}

