:where(.css-dev-only-do-not-override-p7e5j5).ant-input-affix-wrapper >input.ant-input {
    background: #F2F4F8;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: inherit;
    border-color: inherit;
}

button:focus,
button:focus-visible {
  outline: none;
}

  